## requirements.txt -- Requirements to be installed for automated tests on travis. Users should ignore this file.
setuptools>=36.0.0
six>=0.11
numpy
nibabel
tox

## The following packages are needed for testing
pytest
pytest-cov
pytest-runner
pytest-console-scripts
## The following packages are needed for building the documentation
#sphinx
## The following packages are needed for visualization only, they may be removed later when we split that into a separate package
